body {
  background-color: rgba(172, 147, 116, 0.6);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #66635e;
  margin: 0;
  letter-spacing: 0.5px;
}

.banner {
  text-align: center;
  letter-spacing: 2.3px;
  background-image: url("images/mountains_brown_landscape_.jpg");
  background-size: cover;
  background-position: center;
  padding: 190px 0;
  width: 100%;
}

.banner h1 {
  opacity: 0.8;
  color: rgba(235, 226, 206, 0.884);
  font-size: 28px;
  line-height: 2;
}

h2 {
  color: #706b64;
  font-size: 28px;
  line-height: 2;
  margin-top: 5px;
  letter-spacing: 2px;
}

h3 {
  color: #706b64;
  font-size: 21px;
  line-height: 2;
}

p {
  margin-bottom: 40px;
}

.img-circle {
  border-radius: 50%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.img-circle:hover {
  transform: scaleY(-1);
}

a {
  text-decoration: none;
  color: rgb(116, 101, 82);
  transition: background-color .4s;
}

a:hover {
  color: rgb(90, 80, 68);
}

.btn {
  background-color: rgba(116, 107, 89, 0.89);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn:hover {
  background-color: rgba(151, 116, 83, 0.918);
  color: white;
}

.container {
  width: 700px;
  margin: 20px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card {
  background-color: rgba(226, 215, 197, 0.945);
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 10px;
}

.list-inline i {
  font-size: 42px;
  color: rgba(116, 107, 89, 0.89);
}

.list-inline i:hover {
  color: rgba(151, 116, 83, 0.918);
}

.bottom {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.card-image {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
}
